@import url("http://fonts.googleapis.com/css?family=Google+Sans:400,500,700|Google+Sans+Display:400,500,700|Roboto+Mono:400,700&lang=en");

html,
body {
  font-family: Google Sans Display, "sans-serif";
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
}

.feature-slides-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .feature-slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    .feature-slide-title {
      font-size: 6vw;
      text-transform: uppercase;
      font-weight: 900;
    }
    .feature-slide-description {
      font-size: 1.5rem;
      margin-top: 30px;
      line-height: 1.3;
    }
  }

  .feature-slides-right {
    height: 100vh;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: all 1s ease-in-out;
      transform: scale(1.3);
      position: absolute;
      top: 20%;
      &.as-primary {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}
.footer {
  margin-top: 100px;
  height: 70vh;
  background-color: #285ede;

  display: flex;
  align-items: flex-end;
  padding: 100px;

  color: white;
  font-size: 3rem;
  font-weight: 600;
}
